.menu 
	background: darken(#2b2b31, 5%)
	box-shadow: 0 0 1px lighten(#1f1f23, 5%)
	display: flex
	nav
		width: 80%
		margin: 0 auto
		box-shadow: none
		// flex-wrap: nowrap !important
		.navbar-brand
			width: 60%
			img 
				width: 150px
				margin-left: auto !important
		.navbar-toggler
			display: flex
		.nav-item
			white-space: nowrap
			padding: 0.5rem 1rem !important
		.navbar-nav 
			padding: 0.5rem 1rem
			a 
				color: #fff
				font-size: 14px
				border-radius: .5rem
				+media-breakpoint-up(xl)
					font-size: 14px
		+media-breakpoint-up(xl)
			.navbar-nav
				a 
					font-size: 16px
					&:hover 
						background: #2b2b31					
		.navbar-dark
			display: block
			+media-breakpoint-up(lg)
				display: none
.main-cata
	.container-fluid
		padding: 0 !important
		.tool
			background: #7e7e8b
			width: 100%
			height: 100%
			padding: 2rem 0
			.search	
				position: relative
				.input-search
					width: 100%
					background: #b7e3f6
					border: 1px solid darken(#b7e3f6, 5%)
					padding: .8rem 2.5rem .8rem 1rem
				.icon-search
					position: absolute
					top: 18%
					right: 22px
					a
						color: #333
						font-size: 1.5rem
			.insert
				a
					color: #fff
				.nav-link
					padding: 1rem 1rem
					&.active
						background: #6a6a6f
			p 
				color: #fff
				background: #333
		.show
			background: #3a3a41
			width: 100%
			color: #fff
			padding: 1rem 2rem
			height: 100%
			.btn-show
				background: $sen
				padding: .5rem 2rem
			.input-show
				padding: .5rem 0
				input 
					padding: 0.4rem 0
					width: 100%
			.pd 
				padding: 1rem
			.btn-select
				padding: .5rem
			.btn-button
				padding: .4rem
			.table 
				td, th 
					border: 0
				td 
					background: #272736
					a 
						color: #fff

