.main-movie
	.container-fluid
		padding: 0 !important
		.tool
			background: #7e7e8b
			width: 100%
			height: 100%
			padding: 2rem 0
			.search	
				position: relative
				.input-search
					width: 100%
					background: #b7e3f6
					border: 1px solid darken(#b7e3f6, 5%)
					padding: .8rem 2.5rem .8rem 1rem
				.icon-search
					position: absolute
					top: 18%
					right: 22px
					a
						color: #333
						font-size: 1.5rem
			.insert
				a
					color: #fff
				.nav-link
					padding: 1rem 1rem
					&.active
						background: #6a6a6f
			p 
				color: #fff
				background: #333
		.show
			width: 100%
			color: #fff
			padding: 1rem 2rem
			height: 100%
			label
				color: #fff
			.input-group
				.custom-file-label
					color: #333
				.form-control
					width: 100%
			.file-footer-buttons
				display: none
			.fileinput-cancel
				display: none
			.file-drop-zone-title
				padding: 40px 10px
			.btn-show
				background: $sen
				padding: .5rem 2rem
			.input-show
				padding: .5rem 0
				width: 100%
				input 
					padding: 0.4rem 0
					width: 100%
					color: #fff
				select
					appearance: none !important
					-webkit-appearance: none
					&::-ms-expand
						display: none
				.rangeslider--horizontal 
					.rangeslider__handle
						display: flex
						justify-content: center
						align-items: center
						color: #000000
				label 
					&.active
						background: #fff
						color: #000
			.input-checkbox
				padding: .5rem 0
				display: flex
				align-items: center
				label
					margin: 0
					padding-left: .5rem
			.pd 
				padding: 1rem
			.btn-select
				padding: .5rem
			.btn-button
				padding: .4rem
			.table 
				td, th 
					border: 0
				td 
					background: #272736
					a 
						color: #fff
					.modal-content
						border: 0
					.modal-body
						background: #fff
						color: #333
					.modal-title
						color: #333
					.close
						color: #333
				button 
					background: none
					border: 0
					color: #fff
			textarea 
				width: 100%
				padding: 1.4rem 0
				color: #fff
			.input-submit
				display: inline-block
