/* .boxImageLoad {
    display: flex;
    flex-wrap: wrap;
} */
.box-image-movie img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.boxImageLoad img {
    width: 100%;
    height: 100px;
}
.homie{
    height: 100vh;
    flex-direction: column;
    background: #041b33;
}
.layoutMain{
    padding: 0
}
.list-Image{
    display: flex;
    flex-wrap: wrap
}
.list-Image > div {
    position: relative;
}
.list-Image > image {
    object-fit: cover
}

.list-Image  input {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.box-image-movie{
    width: 25%
}
table{
    border-radius: 3px
}
#modal-movie-img{
    width: 100%;
    height: 460px;
    object-fit: cover;
}

table{
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    
}
.tableContent{
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

}
.pgtable{
    border: none !important;
}
table thead , .pgtable{
    background: #2a3f54!important
    
}
tbody{
    background: #fff;
}

#modal-movie-short_description{
    height: 50px;
    overflow: hidden;
    padding: 0rem .3rem;
}

.alertCustom{
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
    padding: .5rem 2rem;
    font-size: 1.5rem;
    box-shadow: 0 0 80px rgba(138, 203, 255, 0.62);
    cursor: pointer;
    border-radius: 3px;
    color: white;
    /* display: none; */
    opacity: 0;
    z-index: -10;
}
body{
    position: relative;
    /* z-index: 2; */
}
.showAlert{
    opacity: 1;
    /* display: block */
    z-index: 100;
}
tr{
    cursor: pointer;
}
table{
    border: 1px solid black;
    border-bottom: none;
}
table.table td,table.table th{
    padding-left: 2.5rem
}
.main-movie{
    position: relative;
    height: 100vh;
}
.layoutMain{
    position: relative;
    overflow: hidden;
}
.backgroundTotal{
    width: 130%;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(30px) grayscale(50%);
    z-index: 0;
}

#logo{
    width: 100%;
    object-fit: contain;
    margin: 3rem 0rem;
    padding: 0rem 1.5rem;
}
.navMenu ul li:hover img{
    filter: grayscale(0)
}
.navMenu ul li:hover {
    background: #2a3f54;
}
.navMenu ul li:hover a{
    color: #f7ce06
}

.navMenu ul li{
    width: 100% !important;
    text-decoration: none;  
    list-style-type: none;
    padding: .5rem 1rem;
   
}
.activemenu{
    background: #2a3f54 ;
    color: #f7ce06 !important
}
.activemenu img {
    filter: grayscale(0) !important
}
.navMenu{
    width: 100% !important;
    margin: 0 !important;

}
.navMenu ul li{
    transition: .3s ease-in-out;
    padding: 0rem;
    
}
.navMenu ul li a{
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
    transition: all .3s ease-in-out;
    padding: 1rem 2rem !important;
}
.navMenu ul li a span{
    font-size: 1.2rem;
    line-height: 1.2rem
}
.navMenu ul li a img{
    max-width: 40px;
    padding-right: 1rem;
    filter: grayscale(90%);
    transition: all .3s ease-in-out
}
.navMenu ul li a img#logo{
    width: 100% !important;
    padding-right: 1rem;
    filter: grayscale(0%);
    padding: 0rem 1rem;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0 !important;
    height: 100vh;
    background: #1f2d3c;
}
ul{
    padding: 0
}

.navAdmin{
    min-height: 70px;
    background: #fff;
    padding: .5rem 2rem;
    position: relative;
    z-index: 2;
}
.navAdmin .nav p{
    font-size: 16px;
    font-weight: 500;
    color: #1e3c5a; 
}
.navAdmin .nav a img{
    width: 50%;
}
.navAdmin .nav .notification{
    position: relative;
}
.navAdmin .nav .notification p{
    position: absolute;
    top: 0;
    left: 30%;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem
}
.card-body h1{
    font-size: 4rem;
}
.card-body h4{
    padding: 0 1rem;
}
.update-allMovie{
    border-top: 1px solid #000;
    padding-top: 1rem;
    cursor: pointer;
}
.pagination.pagination-circle .page-item .page-link{
    color: #fff
}
.modal-showCata .modal-body{
    color: #fff
}
.modal-showCata{
    position: relative;
    border-radius: 3px;
    background: linear-gradient(40deg,#5c5f73,#434c8a);
    height: 150px;
}
.modal-showCata h5{
    font-weight: 300;
    /* border: 1px solid red; */
    
}
.delete-cata{
    position: absolute;
    right: 0;
    top: 9px;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
}

.imageCatalog{
    width: 80%;
}
.modalCustom{
    transform: translateY(20%)
}

.content-comment{
    white-space: nowrap;
    max-width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableNameMovie{
    max-width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customElement{
    border: 1px solid #00000078;
    color: black;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    position: relative;

}

.card-showCata{
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}
.card-showCata .content-allmovie{
    text-align: right;
    padding-bottom: .8rem
}
.card-showCata .content-cata h5{
    border-top: 1px solid #000;
    padding-top: 1rem
}

.card-showCata .card-upde{
    position: absolute;
    top: 0;
    transform: translateY(-10%);
    left: 2rem;
    padding: 2rem 1rem;
}
.card-showCata .card-upde button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 .5rem;
    color: #fff;
    background: #29b6f6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    padding: .5rem 1rem;
    border-radius: 3px;
}

.formLogin{
    height: 100vh;
    align-items: center;
}
.formLogin form{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    padding: 4rem 3rem;
    background: white;
}
