extends _layout/layout2
//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body

	section.menu
		.container-fluid
			.row
				nav.navbar.navbar-expand-lg
					a.navbar-brand(href='index.html').ml-auto.order-2.order-md-1
						img(src="./img/logo.png", alt="")
					button.order-1.order-md-2.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					.hiddenCollapse
					#navbarNavAltMarkup.collapse.navbar-collapse.order-3
						.navbar-nav
							a.nav-item.nav-link.active(href='#')
								| Trang chủ
								span.sr-only (current)
							a.nav-item.nav-link(href='#') Danh mục
							a.nav-item.nav-link(href='#') Phim lẻ
							a.nav-item.nav-link(href='#') Phim bộ
							a.nav-item.nav-link(href='#') Người dùng
							a.nav-item.nav-link(href='#') Quốc gia
							a.nav-item.nav-link(href='#') Bình luận
							a.nav-item.nav-link(href='#') Gói phim
	section.main-cata
		.container-fluid
			.row.no-gutters
				.col-md-3.pl-0.pr-0
					.tool
						.search
							input.input-search(type="text" placeholder="Tìm kiếm ...")
							.icon-search
								a(href="")
									.btn-btn-search
										i.fas.fa-search
						.insert
							#v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
								a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') Thêm danh mục
								a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') All danh mục
				.col-md-9
					.show
						#v-pills-tabContent.tab-content
							#v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
								.row
									.col-sm-12.col-md-6.col-lg-4
										.input-show
											label Số thứ tự
											</br>
											input(type="text")
									.col-sm-12.col-md-6.col-lg-4
										.input-show
											label Tên thể loại
											</br>
											input(type="text")
									.col-sm-12.col-md-12.col-lg-12.d-flex.align-items-end.pd
										a.btn.btn-show Thêm
							#v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
								.row
									.col-sm-12-col-md-3.ml-auto
										.select
												select.btn-info.btn-select.mr-2(name="")
													option(value="") Tên
													option(value="") STT
												button.btn-primary.btn-button Sắp xếp theo thứ tự
									.col-12.pl-0.pr-0
										table.table.text-center.mt-2
											thead.thead-dark
												tr
													th(scope='col')
														input(type="checkbox")
													th(scope='col') STT
													th(scope='col') Tên danh mục
													th(scope='col') Xóa
													th(scope='col') Sửa
											tbody
												tr
													td(scope='row')
														input(type="checkbox")
													td 1
													td Otto
													td 
														a(href="#")
															i.fas.fa-trash-alt
													td 
														a(href="#")
															i.fas.fa-pencil-alt
												tr
													td(scope='row')
														input(type="checkbox")
													td 2
													td Thornton
													td 
														a(href="#")
															i.fas.fa-trash-alt
													td 
														a(href="#")
															i.fas.fa-pencil-alt
												tr
													td(scope='row')
														input(type="checkbox")
													td 3
													td the Bird
													td 
														a(href="#")
															i.fas.fa-trash-alt
													td 
														a(href="#")
															i.fas.fa-pencil-alt
