extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home
		.container
			.row
				.home-main
					.col-6.col-md-3.items
						a(href="catalog.html")
							.btn.btn-home
								i.fas.fa-th-large
								p DANH MỤC
					.col-6.col-md-3.items
						a(href="movie.html")
							.btn.btn-home
								i.fas.fa-film
								p PHIM LẺ
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-tv
								p PHIM BỘ
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-globe
								p QUỐC GIA
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-users-cog
								p NGƯỜI DÙNG
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-comment-dots
								p BÌNH LUẬN
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-archive
								p GÓI PHIM
					.col-6.col-md-3.items
						a(href="#")
							.btn.btn-home
								i.fas.fa-th-large
								p DANH MỤC
									
