<!-- ////////////// HEADER ////////////// -->
section.menu
    .container-fluid
        .row
            nav.navbar.navbar-expand-lg
                a.navbar-brand(href='index.html').ml-auto.order-2.order-md-1
                    img(src="./img/logo.png", alt="")
                button.order-1.order-md-2.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                .hiddenCollapse
                #navbarNavAltMarkup.collapse.navbar-collapse.order-3
                    .navbar-nav
                        a.nav-item.nav-link.active(href='#')
                            | Trang chủ
                            span.sr-only (current)
                        a.nav-item.nav-link(href='#') Danh mục
                        a.nav-item.nav-link(href='#') Phim
                        a.nav-item.nav-link(href='#') Người dùng
                        a.nav-item.nav-link(href='#') Quốc gia
                        a.nav-item.nav-link(href='#') Bình luận
                        a.nav-item.nav-link(href='#') Gói phim
<!-- ////////////// HEADER ////////////// -->
