<!-- ////////////// HEADER ////////////// -->
header
	.container
		.row
			.col
				figure
					.box-img
						.img-box
							img.img-fluid(src="./img/logo.png", alt="")
						.box-title
							p Hello Admin!
					figcaption
						i.fas.fa-arrows-alt-h
<!-- ////////////// HEADER ////////////// -->
